params {
    report_template = "$projectDir/assets/report_template.qmd"
    samplesheet     = "$projectDir/assets/samplesheet.csv" 
    outdir          = 'results'
}
process {
    withName: 'FASTQC' {
        publishDir       = "$params.outdir/fastqc" 
    }
    withName: 'QUARTO' {
        container        = 'docker.io/rocker/verse:latest'
        containerOptions = '-u $(id -u):$(id -g) -e USERID=$UID -e XDG_CACHE_HOME=tmp/quarto_cache_home -e XDG_DATA_HOME=tmp/quarto_data_home -e QUARTO_PRINT_STACK=true'
        stageInMode      = 'copy'
        afterScript      = 'rm -rf tmp'
        publishDir       = "$params.outdir/quarto_report"
    }
    withName: 'MERYL_COUNT' {
        ext.args         = 'k=15'
    }
    withName: 'GENOMESCOPE2' {
        ext.args         = '-p 1 -k 15'
        publishDir       = "$params.outdir/genomescope2"
    }
    withName: 'MULTIQC' {
        container        = null // Installed locally with conda instead due to https://github.com/MultiQC/MultiQC/issues/2283
        publishDir       = "$params.outdir/multiqc_report"
    }
}

docker.enabled = true
docker.registry = 'quay.io'