params {
    // gs2_panel_qmd = "$projectDir/assets/genomescope2_panel_mqc.qmd"
    samplesheet   = "$projectDir/assets/samplesheet.csv" 
    outdir        = 'results'
    kmer_size     = 15
    publish_mode  = 'symlink'
    // fastq_r1      = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/fastq/test_1.fastq.gz'
    // fastq_r2      = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/fastq/test_2.fastq.gz'
}
process {
    withName: 'FASTQC' {
        publishDir       = [
            path: "$params.outdir/fastqc",
            mode: params.publish_mode,
        ]
    }
    // withName: 'QUARTO' {
    //     container        = 'docker.io/rocker/verse:latest'
    //     containerOptions = '-u $(id -u):$(id -g) -e USERID=$UID -e XDG_CACHE_HOME=tmp/quarto_cache_home -e XDG_DATA_HOME=tmp/quarto_data_home -e QUARTO_PRINT_STACK=true'
    //     stageInMode      = 'copy'
    //     afterScript      = 'rm -rf tmp'
    //     publishDir       = "$params.outdir/quarto_report"
    // }
    withName: 'GENOMESCOPE2' {
        ext.args         = "-p 1 -k ${params.kmer_size}"
        publishDir       = [
            path: "$params.outdir/genomescope2",
            mode: params.publish_mode,
        ]
    }
    // withName: 'MULTIQC' {
    //     container        = null // Installed locally with conda instead due to https://github.com/MultiQC/MultiQC/issues/2283
    //     publishDir       = "$params.outdir/multiqc_report"
    // }
}

docker.enabled = true
docker.registry = 'quay.io'

includeConfig 'configs/nf-core_defaults.config'
