params {
    samplesheet       = "$projectDir/assets/samplesheet.csv"
    quarto_mqc_report = "$projectDir/docs/multiqc_report/quartoMultiqcDemo.qmd"
    outdir            = 'results'
    kmer_size         = 15
    publish_mode      = 'symlink'
    run_fastqc        = true
    run_genomescope   = true
}
process {
    withName: 'FASTQC' {
        publishDir       = [
            path: "$params.outdir/fastqc",
            mode: params.publish_mode,
        ]
    }
    withName: 'GENOMESCOPE2' {
        ext.args         = "-p 1 -k ${params.kmer_size}"
        publishDir       = [
            path: "$params.outdir/genomescope2",
            mode: params.publish_mode,
        ]
    }
    withName: 'QUARTO_MULTIQC' {
        publishDir       = [
            path: "$params.outdir/report",
            mode: params.publish_mode,
            overwrite: true,
        ]
    }
}

includeConfig 'configs/nf-core_defaults.config'

profiles {
    standard {
        docker.enabled = true
        docker.registry = 'quay.io'
    }
    docker {
        docker.enabled = true
        docker.registry = 'quay.io'
    }
    conda {
        conda.enabled = true
    }
}